body {
  font-family: Arial, sans-serif;
  background-color: #f3f6fd;
}

.dashboard-container {
  padding: 40px;
  color: red;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.dashboard-header h1 {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}

.dashboard-header p {
  margin: 4px 0;
  color: #666;
}

.dashboard-actions {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 18px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.btn.manage {
  background-color: #e6f0ff;
  color: #3366ff;
}

.btn.add {
  background-color: #007bff;
  color: white;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
  padding: 20px;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 14px;
  color: #777;
}

.card-value {
  font-size: 20px;
  font-weight: bold;
  color: #222;
}


.inventory-section {
  margin-top: 40px;
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.inventory-table th,
.inventory-table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.inventory-table thead {
  background-color: #f5f5f5;
}
